<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="{{description}}" />
    <title>{{title}}</title>

    <!--link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/> 
    <link rel="preload" as="style" href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato&display=swap"/>
    https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap
    
    <link media="print" onload="this.onload=null;this.removeAttribute('media');" href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato&display=swap" rel="stylesheet"/-->
    {% assign gFont = "https://fonts.googleapis.com/css2?family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&display=swap" %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preload" as="style" href="{{gFont}}">
    <link rel="preload" as="style" href="/styles/common-styles.css"/>

    <link media="print" onload="this.onload=null;this.removeAttribute('media');" href="{{gFont}}" rel="stylesheet">

    <link rel="preload" as="style" href="/styles/nav.css"/>
    <link rel="preload" as="style" href="/styles/contact-form.css"/>
    <link rel="preload" as="style" href="/styles/footer.css"/>
    {% for style in styles %}
      <link rel="preload" as="style" href="/styles/{{style}}"/>
    {% endfor %}

    <link rel="stylesheet" href="/styles/common-styles.css" />
    <link rel="stylesheet" href="/styles/nav.css"/>
    <link rel="stylesheet" href="/styles/contact-form.css"/>
    <link rel="stylesheet" href="/styles/footer.css"/>
    
      {% for style in styles %}
      <link rel="stylesheet" href="/styles/{{style}}"/>
      {% endfor %}
  </head>
  <body>
    {% include 'nav.liquid' %}
    {% if backLink %}<div class="back-nav"><a href="{{backLink.url}}">{{backLink.text}}</a></div>{% endif %}
    <div class="l-content">
      
        {{content}}
      
    </div>

    {% include 'footer.liquid' %}
  </body>
</html>