---
layout: default
---
    {% assign hours = 28800 %}
    {% capture endDate %}
        {% if end %}{{end | date:"%s" | plus: hours | date: "%Y-%m-%d"}}{% else %}Present{%endif%}
    {% endcapture %}
<h2 class="job-title">{{jobTitle}}</h2>
<div class="job-dates">{{start | date: "%s" | plus: hours | date: "%Y-%m-%d" }} TO {{endDate}}</div>   
{{content}}